body {
    background-color: lightblue;
}

.page {
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    margin: 0 25px;
    padding: 24px 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray; 
}